@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root{
  --primary-color: #007AF3;
}

body{
  background: #F2F2F2;
  margin:0;
  font-family:poppins;
}
.navbar {
  background: white;
  padding: 1em;

  .logo {
    text-decoration: none;
    font-weight:bold;
    color: black;
    font-size: 1.2em;

    span {
      color:var(--primary-color)
    }
  }
  
  nav{
    display: none;
  }
  .container {
    display: flex;
    justify-content: space-between;
   }
   .mobile-menu {
     cursor: pointer;

   }
}

a {
    color:#444444

  }
ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
section { 
    padding: 5em 2em;
  }
.hero { 
  text-align: center;
    
  }
.left-col { 
  .subhead { 
      text-transform: uppercase;
      font-weight: bold;
      color: gray;
      letter-spacing: .3em
   }
   h1 { 
      font-size: 2.5em;
      line-height: 1.3em;
      margin: .2em;
  }
  
  .primary-cta { 
    background: var(--primary-color); 
    color: white;
    text-decoration: none;
    padding: .6em 1.3em;
    font-size: 1.4em;
    border-radius: 5em;
    font-weight: bold;
    display: inline-block;
  }
  .watch-video-cta { 
    display: block;
    margin-top: 1em;
    
    img {
      margin-right: .5em;

    }
  }
}

.hero-img { 
  width: 70%;
  margin-top: 3em;
}

section.features-section { 
  background: #20272E;
  color: white;
}
ul.features-list { 
  margin: 0;
  padding-left:1em ;
  //come back to this
  li { 
    font-size: 1.1em;
    margin-left: 2em;
    margin-block-end: 1em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      left: -2em;
      background-image: url(../images/bullet.svg);
      background-size: contain;

    }

  }
  
}
.features-section img { 
  display: none;
}

.testimonials-section {
  background: var(--primary-color);
  
  li {
    background: #006BD6;   
    text-align: center;
    padding: 2em 1em;
    width: 80%;
    margin: 0 auto 5em auto;
    border-radius: 1em;

    img { 
      width: 5em;
      height: 5em;
      border-radius: 50%;
      border: 5px solid #006bd6;
      margin-top: -4.5em;

      
    }
  }
}